<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-img
        style="
          
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logoHeader.jpeg"
      ></ion-img>
      <p style="margin: 20px">Diário Oficial</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div>
    <ion-list>
      <ion-item>
        <!-- <ion-icon slot="start" name="cloud-download" color="success" ></ion-icon> -->
        <ion-item>
          
          <ion-datetime displayFormat="DD MMM, YYYY" min="2015" placeholder="Pesquisa por data"  value="" display-timezone="utc"></ion-datetime>
        </ion-item>
        <!-- <ion-input placeholder="Pesquisa por data"></ion-input> -->
        <!-- <ion-label >Documentos para Baixar</ion-label> -->
      </ion-item>
      <ion-card *ngFor="let do of diario">
        <ion-card-header class="ion-text-start">
          <div>
            <a href="https://defensoria.ac.def.br/back-end/{{do.arquivo}}"
              ><ion-icon
                slot="start"
                name="cloud-download"
                color="success"
              ></ion-icon
            ></a>
            <ion-label class="ion-margin-start"
              >Diário Oficial Eletrônico de {{do.data_diario}}</ion-label
            >
          </div>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
<ion-footer style="background-color: rgb(5, 110, 75); text-align: center; " >
  <ion-text color="light">
        <h6>Defensoria do Estado do Acre</h6>
    </ion-text>
  </ion-footer>
