<ion-header>
  <ion-toolbar>
    <div id="header">
      <ion-menu-button color="success"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">Institucional</p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-start">
      <h6>Nossa Historia</h6>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">
        Sobre a Defensoria A Defensoria Pública do Estado do Acre é instituição
        essencial à função jurisdicional do Estado à qual incumbe a orientação
        jurídica, a promoção dos direitos humanos e a defesa dos direitos
        individuais e coletivos dos necessitados e agrupamentos sociais em
        condição de vulnerabilidade, em todos os graus de jurisdição. Foi criada
        pela Constituição Federal de 1988 e regulamentada, em sede
        infraconstitucional, pela Lei Complementar Federal nº 80/94, que define
        o perfil da instituição e estabelece normas gerais a serem
        complementadas pela legislação estadual. No Estado do Acre, a Defensoria
        foi criada e regulamentada pela Lei Complementar Estadual nº 96, de 24
        de julho de 2001. Posteriormente foi alterada pela Lei Complementar
        n°158/2006. E por fim, modificada pela Lei Complementar 216/2010, a qual
        dispõe sobre a sua Lei Orgânica. A Defensoria Pública, apesar de ser uma
        instituição estadual, não é vinculada ao governo. Sua autonomia é
        prevista pela Constituição Federal e é uma garantia para que defensoras
        e defensores públicos possam representar os direitos da população sem
        qualquer tipo de constrangimento. Internamente, cada membro da
        Defensoria possui independência funcional para seguir livremente sua
        convicção, em cada caso em que atua. Atualmente, há 44 defensoras e
        defensores públicos no Estado do Acre A administração superior da
        instituição é conduzida pela Defensoria Pública Geral – órgão dirigido
        por um Defensor ou Defensora nomeado/a pelo/a Governador/a, a partir de
        uma lista tríplice formada pelas pessoas que obtiverem mais votos em
        eleição com participação de toda a carreira. Seu principal órgão para
        tomada de decisões internas é o Conselho Superior da Defensoria Pública,
        formado por 3 membros natos e 4 membros eleitos diretamente pelos
        Defensores e Defensoras, com direito a palavra e voto e 02 membros sem
        direito a voto. Para ser Defensor/a Público/a do Estado é necessário ser
        bacharel em Direito e aprovado/a em concurso público específico para
        atuar em todas as áreas de atribuição da Defensoria. Funções Prestar
        orientação jurídica e exercer a defesa dos necessitados, em todos os
        graus; Promover, prioritariamente, a solução extrajudicial dos litígios,
        visando à composição entre as pessoas em conflito de interesses, por
        meio de mediação, conciliação, arbitragem e demais técnicas de
        composição e administração de conflitos; Promover a difusão e a
        conscientização dos direitos humanos, da cidadania e do ordenamento
        jurídico; Prestar atendimento interdisciplinar, por meio de órgãos ou de
        servidores de suas Carreiras de apoio para o exercício de suas
        atribuições; Exercer, mediante o recebimento dos autos com vista, a
        ampla defesa e o contraditório em favor de pessoas naturais e jurídicas,
        em processos administrativos e judiciais, perante todos os órgãos e em
        todas as instâncias, ordinárias ou extraordinárias, utilizando todas as
        medidas capazes de propiciar a adequada e efetiva defesa de seus
        interesses; Representar aos sistemas internacionais de proteção dos
        direitos humanos, postulando perante seus órgãos; Promover ação civil
        pública e todas as espécies de ações capazes de propiciar a adequada
        tutela dos direitos difusos, coletivos ou individuais homogêneos quando
        o resultado da demanda puder beneficiar grupo de pessoas
        hipossuficientes; Exercer a defesa dos direitos e interesses
        individuais, difusos, coletivos e individuais homogêneos e dos direitos
        do consumidor, na forma do inciso LXXIV do art. 5º da Constituição
        Federal; Impetrar habeas corpus, mandado de injunção, habeas data e
        mandado de segurança ou qualquer outra ação em defesa das funções
        institucionais e prerrogativas de seus órgãos de execução; Promover a
        mais ampla defesa dos direitos fundamentais dos necessitados, abrangendo
        seus direitos individuais, coletivos, sociais, econômicos, culturais e
        ambientais, sendo admissíveis todas as espécies de ações capazes de
        propiciar sua adequada e efetiva tutela; Exercer a defesa dos interesses
        individuais e coletivos da criança e do adolescente, do idoso, da pessoa
        portadora de necessidades especiais, da mulher vítima de violência
        doméstica e familiar e de outros grupos sociais vulneráveis que mereçam
        proteção especial do Estado; Acompanhar inquérito policial, inclusive
        com a comunicação imediata da prisão em flagrante pela autoridade
        policial, quando o preso não constituir advogado; Patrocinar ação penal
        privada e a subsidiária da pública; Exercer a curadoria especial nos
        casos previstos em lei; Atuar nos estabelecimentos policiais,
        penitenciários e de internação de adolescentes, visando a assegurar às
        pessoas, sob quaisquer circunstâncias, o exercício pleno de seus
        direitos e garantias fundamentais; Atuar na preservação e reparação dos
        direitos de pessoas vítimas de tortura, abusos sexuais, discriminação ou
        qualquer outra forma de opressão ou violência, propiciando o
        acompanhamento e o atendimento interdisciplinar das vítimas; Atuar nos
        Juizados Especiais; Participar, quando tiver assento, dos conselhos
        federais, estaduais e municipais afetos às funções institucionais da
        Defensoria Pública, respeitadas as atribuições de seus ramos; Executar e
        receber as verbas sucumbenciais decorrentes de sua atuação, inclusive
        quando devidas por quaisquer entes públicos, destinando-as a fundos
        geridos pela Defensoria Pública e destinados, exclusivamente, ao
        aparelhamento da Defensoria Pública e à capacitação profissional de seus
        membros e servidores; Convocar audiências públicas para discutir
        matérias relacionadas às suas funções institucionais. Princípios
        Unidade; Indivisibilidade; Independência Funcional. Objetivos A primazia
        da dignidade da pessoa humana e a redução das desigualdades sociais; A
        afirmação do Estado Democrático de Direito; A prevalência e efetividade
        dos direitos humanos; A garantia dos princípios constitucionais da ampla
        defesa e do contraditório. Missão Promover a assistência jurídica
        integral e gratuita a todos os necessitados, prestando serviço público
        eficiente e eficaz. Visão Consolidar-se como Instituição de excelência,
        reconhecida e valorizada por toda a sociedade como essencial ao sistema
        de justiça. Valores Legalidade, Impessoalidade e Moralidade: obedecer
        aos princípios constitucionais regentes da Administração Pública,
        notadamente no que concerne ao zelo pelo interesse público, pela
        probidade e pela moralidade administrativas. Eficiência e eficácia:
        prestar serviço em grau de excelência à população, buscando cumprir os
        objetivos institucionais, de forma plena e efetiva. Transparência e
        Publicidade: praticar os atos com visibilidade, aprimorando os canais de
        comunicação e transparência. Cooperação: trabalhar em equipe,
        compartilhando responsabilidades e resultados. Ética: agir com
        integridade e higidez moral em todas as suas ações e relações
        institucionais. Responsabilidade Socioambiental: adotar padrões de
        responsabilidade socioambiental nas ações cotidianas. Inovação:
        permanente processo de reinvenção das rotinas de trabalho para otimizar
        os recursos disponíveis. Modernização: adoção de modelos de gestão
        administrativos atuais para alcançar a missão institucional.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer style="background-color: rgb(5, 110, 75); text-align: center">
  <ion-text color="light">
    <h6>Defensoria do Estado do Acre</h6>
  </ion-text>
</ion-footer>
