<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img
      width="25"
      height="25"
      style="display: inline-block"
      src="../../assets/logoHeader.jpeg"
    ></ion-img>
    Perguntas Frequentes
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; align-items: center; margin-bottom: 30px">
    <ion-img
      style="width: 75px; height: 75px; padding-top: 20px; padding-bottom: 20px"
      src="../../assets/chat.png"
    ></ion-img>
    <div style="font-weight: bolder; text-align: center">
      <ion-text color="success">
        <h4>Atendimento Pelo nosso chat</h4>
      </ion-text>
    </div>
  </div>
  <div style="display: flex; align-items: center; justify-content: center">
    <ion-button color="success" href="#" (click)="openSystem()">
      Iniciar o Atendimento
    </ion-button>
  </div>
</ion-content>
<ion-footer style="background-color: rgb(5, 110, 75); text-align: center">
  <ion-text color="light">
    <h6>Defensoria do Estado do Acre</h6>
  </ion-text>
</ion-footer>
