<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">DEFENSORIA PÚBLICA DO ESTADO DO ACRE</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; align-items: center;  margin-bottom: 30px;">
    <ion-img style="width: 75px; height: 75px; padding-top: 20px; padding-bottom: 20px;" src="../../assets/chat.png"></ion-img>
    <div style="font-weight: bolder; text-align: center">
      <ion-text color="success">
        <h4>Atendimento Pelo nosso chat</h4>
      </ion-text>
    </div>
  </div>
  <div style="display: flex; align-items: center;  justify-content: center;">
    <ion-button color="success" href="#" (click)="openSystem()" >
      Iniciar o Atendimento
    </ion-button>
  </div>

</ion-content>
