<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="success"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">Perguntas Frequentes</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let p of pergunta">
      <div >
        <div >
        <ion-text class="ion-text-center" color="success">
          <h6>{{p.pergunta}}</h6>
        </ion-text>
      </div>
        <ion-text class="ion-text-justify" color="dark">
          <p class="ion-padding-end" size="small">{{p.resposta}}</p>
        </ion-text>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer style="background-color: rgb(5, 110, 75); text-align: center; " >
  <ion-text color="light">
        <h6>Defensoria do Estado do Acre</h6>
    </ion-text>
  </ion-footer>
