<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">DEFENSORIA PÚBLICA DO ESTADO DO ACRE</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-text  color="success">
      <p class="ion-text-center" style="font-weight: bolder; margin-left: 30px">
        PERGUNTAS FREQUENTES
      </p>
    </ion-text>
  </div>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let p of pergunta">
      <div >
        <div >
        <ion-text class="ion-text-center" color="success">
          <h6>{{p.pergunta}}</h6>
        </ion-text>
      </div>
        <ion-text class="ion-text-justify" color="dark">
          <p class="ion-padding-end" size="small">{{p.resposta}}</p>
        </ion-text>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div
    style="
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    "
  >
    <ion-icon slot="primary" slot="start" name="keypad"></ion-icon>
    <ion-icon slot="end" name="key"></ion-icon>
  </div>
</ion-footer>
