<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <div style="display: flex; justify-items: center; align-items: flex-start">
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <ion-p style="margin: 20px">DEFENSORIA PÚBLICA DO ESTADO DO ACRE</ion-p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-text color="success">
      <h5 class="ion-text-center" style="font-weight: bolder; margin-left: 30px">
        PERGUNTAS FREQUENTES
      </h5>
    </ion-text>
  </div>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item >
      <ion-avatar class="ml-3">
        <img src="../../assets/logo_defensoria.jpg" />
      </ion-avatar>
      <ion-label class="ion-padding-start">A defensoria é gratís?</ion-label>
    </ion-item>
  </ion-list>

 

</ion-content>
<ion-footer>
  <div
    style="
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    "
  >
    <ion-icon slot="primary" slot="start" name="keypad"></ion-icon>
    <ion-icon slot="end" name="key"></ion-icon>
  </div>
</ion-footer>
