<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="success"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">Hórario e Locais de Atendimentos</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div>
    <ion-list>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                  <ion-text color="dark">Nome:</ion-text>
                  <p>Sede da Defensoria Pública do Estado do Acre</p>
                </div>
                <div>
                  <ion-img
                  style="
                    width: auto;
                    height: auto;
                  "
                  src="../../assets/img/local1.png"
                ></ion-img> 
                </div>
                
                <div>
                  <ion-text color="dark" >Telefone:</ion-text>

                  <p><a href="tel:+6832283117">Telefone:(68) 3228-3117</a></p>
                  <p><a href="tel:+6832154185">Telefone:(68) 3215-4185</a></p>
                  <p><a href="tel:+6832154186">Telefone:(68) 3215-4186</a></p>
                  <p><a href="tel:+6832154187">Telefone:(68) 3215-4187</a></p>
                  <p><a href="tel:+6832154188">Telefone:(68) 3215-4188</a></p>
                
              </div>
              <div>
                <ion-text color="dark">Horário</ion-text>
                <p>07:00h às 12:00h</p>
              </div>
              <div>
                <ion-text color="dark" >Ações</ion-text>
                <p>Todas</p>
              </div>
              <div>
                <ion-text color="dark" >Detalhes do Google Maps</ion-text>
                <p>Av. Antônio da Rocha Viana, 3057 - Santa Quiteria, Rio Branco - AC, 69918-700</p>
                <a href="https://www.google.com/maps/place/Av.+Ant%C3%B4nio+da+Rocha+Viana,+3057+-+Santa+Quiteria,+Rio+Branco+-+AC,+69918-700/@-9.948851,-67.8269777,17z/data=!3m1!4b1!4m5!3m4!1s0x917f8c6edb0d33e3:0xda1e9272ea8c440e!8m2!3d-9.948851!4d-67.824789">
                  <p>Visualizar no Google Maps</p>
                </a>
              </div>
            </ion-card-header>            
            </ion-card>
            
    </ion-list>
  </div>
</ion-content>
<ion-footer style="background-color: rgb(5, 110, 75); text-align: center; " >
  <ion-text color="light">
        <h6>Defensoria do Estado do Acre</h6>
    </ion-text>
  </ion-footer>
