<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">DEFENSORIA PÚBLICA DO ESTADO DO ACRE</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-text  color="success">
      <p class="ion-text-center" style="font-weight: bolder; margin-left: 30px">
        HORÁRIOS E LOCAIS DE ATENDIMENTOS
      </p>
    </ion-text>
  </div>
  <div>
    <ion-list>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start" color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Segunda-Feira</ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 3223-7229</ion-label>
              </div>
              </ion-card-header>
            </ion-card>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start"  color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Terça-Feira</ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 3228-0131</ion-label>
              </div>
              </ion-card-header>
            </ion-card>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start" color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Quarta-Feira </ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 3228-3117 </ion-label>
              </div>
              </ion-card-header>
            </ion-card>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start" color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Quinta-Feira </ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 3224-4348 </ion-label>
              </div>
              </ion-card-header>
            </ion-card>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start" color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Sexta-Feira </ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 3228-0131 </ion-label>
              </div>
              </ion-card-header>
            </ion-card>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start" color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Final de Semana</ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 3215-4185 </ion-label>
              </div>
              </ion-card-header>
            </ion-card>
            <ion-card >
              <ion-card-header class="ion-text-justify ">
                <div>
                <a href=""><ion-icon class="ion-padding-start" color="success" slot="start" name="time"></ion-icon></a>
                <ion-label class="ion-margin-start">Feríados</ion-label>
                <ion-label class="ion-float-right ion-padding-end">(61) 99972-2835 </ion-label>
              </div>
              </ion-card-header>
            </ion-card>
    </ion-list>
  </div>
</ion-content>
