<ion-header>
  <ion-toolbar>
    <div id="header" >
      <ion-menu-button color="dark"></ion-menu-button>
      <ion-img
        style="
          width: 75px;
          height: 75px;
          margin-left: 30px;
          padding-top: 20px;
          padding-bottom: 20px;
        "
        src="../../assets/logo_defensoria.jpg"
      ></ion-img>
      <p style="margin: 20px">DEFENSORIA PÚBLICA DO ESTADO DO ACRE</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 300px; height: 300px; margin: auto; padding-top: 20px; padding-bottom: 20px;" src="../../assets/logo_defensoria.jpg"></ion-img>
  <div style="margin: auto; text-align: center;">
    <ion-input class="ion-margin-horizontal" type="text" placeholder="CPF: 999.999.999-99"></ion-input>
  </div>
  <ion-button (click)="onClick()" ion-button color="success" ion-button round expand="block" style="margin: 20px">Continue</ion-button>
  <div style="margin: auto; text-align: center; margin-bottom: 20px;">
    <ion-label >Deixar gravado</ion-label>
  </div>
  <div style="margin: auto; text-align: center;">
    <ion-label >Criar conta nova?</ion-label>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: center; padding: 20px;">
    <p style="font-weight: bolder;">Informações e Notícias Gerais Sobre atendimentos e serviços</p>
  </ion-toolbar>
  <div style=" display: flex; align-items: center; justify-content: space-around; text-align: center;">
     <ion-icon slot="start" slot="start" name="keypad"></ion-icon>
    <ion-button color="secondary"  (click)="onClick()" size="small" ion-button round>ACESSE</ion-button>  
    <ion-icon slot="end" name="key"></ion-icon>
  </div>
</ion-footer>
